@import 'tailwindcss/base';

/* @font-face {
    font-family: 'Alma Mono';
    src: local('AlmaMono-Thin'),
        url('/fonts/AlmaMono-Thin.woff2') format('woff2'),
        url('/fonts/AlmaMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alma Mono';
    src: local('AlmaMono-Heavy'),
        url('/fonts/AlmaMono-Heavy.woff2') format('woff2'),
        url('/fonts/AlmaMono-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alma Mono';
    src: local('Alma Mono Light'), local('AlmaMono-Light'),
        url('/fonts/AlmaMono-Light.woff2') format('woff2'),
        url('/fonts/AlmaMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: 'JetBrains Mono';
  src:
    local('JetBrains Mono Regular'),
    local('JetBrainsMono-Regular'),
    url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold'), local('JetBrainsMono-Bold'),
        url('/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
        url('/fonts/JetBrainsMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: 'Alma Mono';
  src:
    local('Alma Mono Regular'),
    local('AlmaMono-Regular'),
    url('/fonts/AlmaMono-Regular.woff2') format('woff2'),
    url('/fonts/AlmaMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
